<mat-card>
    <mat-card-content>
        <h3>Was sind Cookies?</h3>
        <p>
            Cookies sind Textdateien, die automatisch bei dem Aufruf einer Webseite lokal im Browser des Besuchers abgelegt werden. Diese Website setzt Cookies ein, um das Angebot nutzerfreundlich und funktionaler zu gestalten. Dank dieser Dateien ist es beispielsweise möglich, auf individuelle Interessen abgestimmte Informationen auf einer Seite anzuzeigen. Auch sicherheitsrelevante Funktionen zum Schutz Ihrer Privatsphäre werden durch den Einsatz von Cookies ermöglicht. Der ausschließliche Zweck besteht also darin, unser Angebot Ihren Kundenwünschen bestmöglich anzupassen und die Seiten-Nutzung so komfortabel wie möglich zu gestalten. Mit Anwendung der DSGVO 2018 sind Webmaster dazu verpflichtet, der unter https://eu-datenschutz.org/ veröffentlichten Grundverordnung Folge zu leisten und seine Nutzer entsprechend über die Erfassung und Auswertung von Daten in Kenntnis zu setzen. Die Rechtmäßigkeit der Verarbeitung ist in Kapitel 2, Artikel 6 der DSGVO begründet.
        </p>

        <h3>Welche Daten werden auf dieser Seite gespeichert?</h3>
        <p>
            Cookies werden hier ausschließlich dafür verwendet, dass nach dem Verlassen der Internetseite der Benutzer weiterhin angemeldet bleibt. 
        </p>
    </mat-card-content>
</mat-card>