form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    button {
        margin: 6px 0 !important;
    }
}

button {
    width: 100%;
    margin: 6px 0;
    
    &:last-child {
        margin-bottom: 38pt;
    }
}