#reminder-picker, #due-picker {
    opacity: 0;
    height: 0;
    width: 0;
    z-index: -100;
}

#description {
    button {
        width: 32px;
    }

    mat-form-field {
        width: 100%;
    }
}