<div id="app-container">
  @if (!(pusher.online | async) && authService.isLoggedIn()) {
    <div id="offline-indicator">Offline</div>
  }

  @if (router.url.startsWith('/user')) {
    <div id="content-container">
      <div id="content">
        <router-outlet></router-outlet>
      </div>
      @if (authService.isLoggedIn()) {
        <mat-toolbar>
          <button
            mat-button
            routerLink="/user/lists"
            [color]="router.isActive('/user/lists', true) ? 'primary' : undefined">
            <div class="toolbar-button">
              <mat-icon>list</mat-icon>
              <span>Lists</span>
            </div>
          </button>
          <button
            mat-button
            routerLink="/user/settings"
            [color]="router.isActive('/user/settings', true) ? 'primary' : undefined">
            <div class="toolbar-button">
              <mat-icon>settings</mat-icon>
              <span>Einstellungen</span>
            </div>
          </button>
        </mat-toolbar>
      }
    </div>
  } @else {
    <div id="login">
      <router-outlet></router-outlet>
    </div>
  }


</div>