@import '../variables.scss';

#app-container {
    display: grid;
    grid-template-rows: [offlineIndicator] 5px [content] calc(100% - 5px - $nav-bar-height) [footer] $nav-bar-height;
    height: 100vh;
    width: min(100%, 769px);
}

#offline-indicator {
    height: 24px;
    width: 100%;
    background-color: darkred;
    padding: 6px 12px;
    grid-area: offlineIndicator;
}

mat-toolbar {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    height: 100%;
    z-index: 10;
    width: 100%;

    button {
        height: 100%;
        flex: 1;
    }

    .toolbar-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.content {
    grid-area: content;
    padding: 12px;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 24px;
}