@import '../variables.scss';

#app-container {
    display: grid;
    grid-template-rows: [offlineIndicator] 5px [contentContainer] calc(100% - 5px);
    grid-template-columns: 1fr min(100%, 769px) 1fr;
    height: 100%;
    width: 100%;
    grid-template-areas: ". offlineIndicator ."
        ". contentContainer .";


    #login {
        grid-area: 2 / contentContainer / 2 / contentContainer;
        width: 100%;
        padding: 12px 12px 0;
        box-sizing: border-box;
        padding-top: 24px;
        overflow-y: auto;
    }

    #content-container {
        grid-area: 2 / contentContainer / 2 / contentContainer;
        width: 100%;
        box-sizing: border-box;
        
        display: grid;
        grid-template-rows: [content] calc(100% - $nav-bar-height) [footer] $nav-bar-height;

        grid-template-areas: "content"
            "footer";

        #content {
            grid-area: content;
            width: 100%;
            box-sizing: border-box;
            padding: 12px 12px 0;
        }

        mat-toolbar {
            grid-area: footer;
            display: flex;
            justify-content: space-around;
            height: 100%;
            z-index: 10;
            width: 100%;
        
            button {
                height: 100%;
                flex: 1;
                border-radius: 0;
            }
        
            .toolbar-button {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

#offline-indicator {
    height: calc(17px + 12px);
    width: 100%;
    background-color: darkred;
    padding: 6px 12px;
    grid-area: offlineIndicator;
    animation: offline 300ms ease-out 3s forwards;
    overflow: hidden;
    box-sizing: border-box;
}

@keyframes offline {
    0% {
        height: 24px;
        color: white;
    }
    100% {
        height: 5px;
        color: darkred;
    }
}