<h2>{{title}}</h2>

<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-slide-toggle color="primary" formControlName="groceries">Einkaufsliste</mat-slide-toggle>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button mat-button [disabled]="!form.valid" (click)="returnFormContent()">{{data ? 'Speichern' : 'Hinzufügen'}}</button>
</mat-dialog-actions>