.list-card {
    padding: 12px;
    width: calc(50% - 6px);
    white-space: pre-line;
    word-break: break-all;
    position: relative;
    height: fit-content !important;

    mat-icon:not(.add-list) {
        position: absolute;
        left: 6px;
        top: 6px;
        width: 12px;
        height: 12px;
        font-size: 12px;
    }

    .add-list {
        margin: 0;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    align-content: flex-start;
    height: calc(100% - 35px);
    overflow-y: auto;
}