.menu {
    position: absolute;
    top: 24px;
    right: 24px;
}

#items-container {
    height: calc(100% - 64px);
    overflow-y: auto;

    div:last-child {
        margin-bottom: 64px;
    }
}

.item-done {
    .item-content, mat-chip {
        color: grey;
        text-decoration: line-through;


    }
}

.item {
    background: #EEE;
    border-radius: 8px;
    margin: 8px;

    button {
        float: right;
        color: grey;
    }
    mat-checkbox {
        margin: 8px;
        position: relative;

        .item-content {
            max-width: calc(100% - 45px);
            white-space: pre-wrap;
            display: inline-block;
        }

        button {
            top: calc(50% - 20px);
            position: absolute;
        }
    }

    mat-chip-list, mat-chip {
        display: inline-block;
    }
}

mat-toolbar {
    position: absolute;
    right: 0;
    bottom: 56px;
    height: 64px;
    z-index: 10;

    &.toolbar-time {
        display: none;
        padding: 8px;
    }

    .add-input {
        border: none;
        border-radius: 8px;
        padding: 8px;
        width: 100%;
        background-color: white;
    }
}

#toggle-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: calc(100% - 128px);
    width: 100%;
}