<button class="menu" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="listSettings()">Einstellungen</button>
    <button mat-menu-item (click)="deleteList()">Löschen</button>
</mat-menu>

<h1>{{list.name}}</h1>

<div *ngFor="let timeslot of timeslots">
    <h2>{{ timeslot.name }}</h2>

    <div class="item" *ngFor="let item of timeslot.items" [class.item-done]="item.done">
        <mat-checkbox (change)="toggleDone(item)" [checked]="item.done" color="primary">
            {{ item.name }}
            <mat-chip *ngIf="item.time">{{item.time}}</mat-chip>
        </mat-checkbox>
        <button mat-icon-button (click)="deleteItem(item)" *ngIf="item.done"><mat-icon>close</mat-icon></button>
    </div>
</div>