.menu {
    position: absolute;
    top: 24px;
    right: 24px;
}

.item-done {
    mat-checkbox, mat-chip {
        color: grey;
        text-decoration: line-through;
    }
}

.item {
    background: #EEE;
    border-radius: 8px;
    margin: 8px;

    button {
        float: right;
        color: grey;
    }
    mat-checkbox {
        margin: 8px;
    }

    mat-chip-list, mat-chip {
        display: inline-block;
    }
}

mat-toolbar {
    position: absolute;
    right: 0;
    bottom: 56px;

    .add-input {
        border: none;
        border-radius: 8px;
        padding: 8px;
        width: 100%;
        background-color: white;
    }
}