<div class="content-grid">
    <div id="content-overlay" *ngIf="focusInput" (click)="closeFocusInput($event)" #overlay></div>
    <app-list-header
        [lists]="list"
        [users]="users"
        [isAdmin]="userIsAdmin()"
        (listToText)="listToText()"
    ></app-list-header>

    <div id="items-container" #itemsContainer>
        <div class="slots" *ngFor="let slot of slots()">
            <h5>
                {{ slot.name }}
                <mat-chip-listbox *ngIf="slot.nDone > 0" class="slot-done-toggle">
                    <mat-chip-option (click)="slotCollapseStates[slot.name] = !slotCollapseStates[slot.name]" [selected]="!slotCollapseStates[slot.name]">
                        {{ slot.nDone }}
                    </mat-chip-option>
                </mat-chip-listbox>
            </h5>
        
            <ng-container *ngFor="let item of slot.items">
                <app-list-item
                    *ngIf="(!item.done || !slotCollapseStates[slot.name]) && list() && me()"
                    [me]="me"
                    [list]="list"
                    [item]="item"
                    (deleted)="deleteItem(item)"
                    ></app-list-item>
            </ng-container>
        </div>
        <div *ngIf="slots().length === 0" class="no-lists">Keine Einträge vorhanden</div>
    </div>

    <div class="input-bar" (click)="openFocusInput($event)">
        
        <mat-toolbar class="toolbar-time" [style.display]="focusInput ? 'block' : 'none'" *ngIf="list() && !list().isShoppingList">
            <app-date-chip-select
                [formControl]="newItemDue"
                [options]="dueOptions"
                [defaultOption]="dueDefault"
                (pickrOpened)="pickerOpen = true"
            ></app-date-chip-select>
        </mat-toolbar>

        <mat-toolbar class="toolbar-input" [class.focusInput]="focusInput" [class.isShoppingList]="list() ? list().isShoppingList : false">
            <form>
                <input #addInput matInput placeholder="Hinzufügen" class="add-input" [formControl]="newItem" autocomplete="off">
                <button mat-icon-button (click)="addItem()"><mat-icon>add</mat-icon></button>
            </form>
        </mat-toolbar>
    </div>
</div>


