@import '../../../variables.scss';

.content-grid {
    display: grid;
    grid-template-rows: [contentHeader] max-content [contentArea] 1fr [inputBar] 65px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 11;
    justify-content: start;
    grid-template-columns: 100%;
    grid-template-areas:
        "contentHeader"
        "contentArea"
        "inputBar";
    
    &:has(.focusInput) {
        height: calc(100% + $nav-bar-height);
        
        grid-template-rows: [contentHeader] max-content [contentArea] 1fr [inputBar] auto;
    }
}


#items-container {
    grid-area: contentArea;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding-top: 12px;

    #overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .slot-done-toggle {
        // display: inline-block;
        float: right;
    }

    .slots:not(:first-child) {
        margin-top: 0.5em;
    }

    .no-lists {
        width: 100%;
        color: grey;
        text-align: center;
        padding-top: 25%;
    }
}

.slots mat-chip-option {
    line-height: 36px;
    user-select: none;

    mat-icon {
        position: relative;
        top: 6px;
    }
}

.input-bar {
    grid-area: inputBar;
    width: calc(100% + 24px);
    margin-left: -12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    mat-toolbar {
        width: 100%;
    
        &.toolbar-time {
            display: none;
            padding: 8px;
            min-height: 46px;
            height: auto;
        }
    
        &.toolbar-input {
            padding: 12px;
            height: 64px;

            form {
                display: flex;
                width: 100%;

                .add-input {
                    border: none;
                    border-radius: 8px;
                    padding: 8px;
                    width: 100%;
                    background-color: white;
                    line-height: 32px;
                    font-size: 20px;
                    flex-grow: 1;
                }
            }
    
            &.isShoppingList {
                height: 78px;
            }
    
        }
    }
}