<div class="item"
        [class.item-done]="item?.done"
        (pointerdown)="openUpdateSheet($event, item)"
        (pointerup)="cancelUpdateSheet()"
        [id]="'id-' + item?.id">
    <div>
        <mat-checkbox (change)="toggleDone(item)" color="primary">
            <div class="item-content">{{ item?.name }}
                <mat-chip-set *ngIf="list && !list.isShoppingList" disabled>
                    <mat-chip *ngIf="item && item.due && is_today(item)" [highlighted]="!!item.reminder">{{item.due | date:'h:mm'}}</mat-chip>
                    <mat-chip *ngIf="item && item.due && !is_today(item)" [highlighted]="!!item.reminder">{{item.due | date:'short'}}</mat-chip>
                </mat-chip-set>
                <button mat-mini-fab disabled *ngIf="list && item && userId !== item.createdBy.id" [class]="'mini-user-fab user-fab-' + userFab(item) % 12">{{item.createdBy.name | nameBadge}}</button>
            </div>
            <button mat-icon-button (click)="deleteItem(item)" *ngIf="item && item.done"><mat-icon>close</mat-icon></button>
        </mat-checkbox>
    </div>
</div>