<h2>Lists</h2>

<div class="container">
    <!-- <button
        class="list-card"
        *ngFor="let l of lists | async"
        mat-raised-button
        [matBadge]="l.todo"
        [matBadgeHidden]="!!l.todo && l.todo < 1"
        [routerLink]="'/user/list/' + l.uuid">
        <span>{{ l.name }}</span>
        <mat-icon *ngIf="l.groceries" [style.color]="'#999'">shopping_basket</mat-icon>
    </button> -->
    <button
        class="list-card"
        mat-raised-button
        (click)="addList()">
        <mat-icon class="add-list">add</mat-icon>
    </button>
</div>