@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~flatpickr/dist/flatpickr.css'; // you may need to adjust the css import depending on your build tool
html, body { height: 100%; overflow: hidden; }
body { margin: 0px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field, button.mat-button {
    width: 100% !important;
}

.half {
    max-width: 500px;
    margin: 0 auto;
}