@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 10px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field, button {
    width: 100% !important;
}

.half {
    max-width: 500px;
    margin: 0 auto;
}