<div>
    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Passwort</mat-label>
            <input matInput type="password" placeholder="Passwort" formControlName="pwd">
            <mat-error *ngIf="form.get('pwd')?.hasError('required')">
                Passwort muss angegeben werden!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Passwort wiederholen</mat-label>
            <input matInput type="password" placeholder="Passwort wiederholen" formControlName="pwd_confirmation">
            <mat-error *ngIf="form.hasError('notMatching') || form.get('pwd_confirmation')?.hasError('required')">
                Passwörter stimmen nicht überein!
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="form.hasError('invalidLink')">Link ist ungültig.</mat-error>
        <mat-error *ngIf="form.hasError('invalidToken')">Link ist abgelaufen.</mat-error>

        <button mat-flat-button color="primary" (click)="resetPwd()" [disabled]="form.invalid || form.disabled">Passwort zurücksetzen</button>
        
        <div class="container">
            <button mat-stroked-button type="button" routerLink="/login"><mat-icon>chevron_left</mat-icon>Login</button>
        </div>
    </form>
</div>
