div:not(.task) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: max(50%, 800px);
    margin: auto;

    textarea {
        min-height: 300px;
    }

    pre {
        overflow: auto;
        border: solid lightgrey;
        padding: 8px;
        max-height: 500px;
    }
}