button {
    width: 100%;
    margin: 6px 0;

    &:last-child {
        margin-bottom: 38pt;
    }
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    mat-slide-toggle {
        margin-top: 24px;
    }
}