div {
    padding: 12px;
    
    img {
        margin: 12px;
        margin-left: calc(50% - 32px);
    }
    form {
        display: flex;
        flex-direction: column;
    }

    button {
        margin: 12px 0;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        @media (max-width: 359px) {
            flex-direction: column;
        }
    }
}

.buymeacoffee {
    margin-left: calc(50% - 217px/2);

    img {
        margin-top: 48px;
    }
}