.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 100%;

    .header-container {
        position: relative;
        width: 100%;
        height: 80px;
        flex-shrink: 0;

        button.user-fab-0 {
            position: absolute;
            top: 12px;
            right: calc(50% - 21px);
        }
        
        button.edit-buttons {
            position: absolute;
            top: 12px;
            right: 0;
        }
    }
        

    .inner-container {
        overflow: hidden auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 16px 0;

        div:first-child {
            margin: 12px;
        }
        
        button {
            width: 100%;
            line-height: 36px;
        }
    
        #version {
            color: grey;
            font-size: 12px;
            margin-top: 48px;
        }
    
        hr {
            width: 100%;
            border: none;
            margin: 12px;
        }

        .forms {
            width: 100%;
        }
    }
    
}