.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    div:first-child {
        margin: 12px;
    }

    button:not(.user-fab-0):not(.edit-buttons) {
        width: 100%;
    }

    button.edit-buttons {
        position: absolute;
        top: 32px;
        right: 0;
    }

    #version {
        color: grey;
        font-size: 12px;
        margin-top: 48px;
    }

    form, mat-form-field {
        width: 100%;
    }

    hr {
        width: 100%;
        border: none;
        margin: 24px;
    }
}