@use '@angular/material' as mat;
@use './app/styles/m3-theme.scss';

@include mat.core();
@include mat.typography-hierarchy(m3-theme.$light-theme);

body {
    @include mat.core-theme(m3-theme.$light-theme);
    @include mat.core-typography(m3-theme.$light-theme);
    // Include theme styles for core and each component used in your app.
    // Alternatively, you can import and @include the theme mixins for each component
    // that you are using.
    // @include mat.badge-typography(m3-theme.$light-theme);
    // @include mat.button-typography(m3-theme.$light-theme);
    // @include mat.checkbox-typography(m3-theme.$light-theme);
    // @include mat.chips-typography(m3-theme.$light-theme);
    // @include mat.bottom-sheet-typography(m3-theme.$light-theme);
    // @include mat.form-field-typography(m3-theme.$light-theme);
    // @include mat.icon-typography(m3-theme.$light-theme);
    // @include mat.menu-typography(m3-theme.$light-theme);
    // @include mat.select-typography(m3-theme.$light-theme);
    // @include mat.slide-toggle-typography(m3-theme.$light-theme);
    // @include mat.snack-bar-typography(m3-theme.$light-theme);
    // @include mat.toolbar-typography(m3-theme.$light-theme);

    @include mat.autocomplete-theme(m3-theme.$light-theme);
    @include mat.badge-theme(m3-theme.$light-theme);
    @include mat.button-theme(m3-theme.$light-theme);
    @include mat.fab-theme(m3-theme.$light-theme);
    @include mat.checkbox-theme(m3-theme.$light-theme);
    @include mat.chips-theme(m3-theme.$light-theme);
    @include mat.bottom-sheet-theme(m3-theme.$light-theme);
    @include mat.form-field-theme(m3-theme.$light-theme);
    @include mat.icon-theme(m3-theme.$light-theme);
    @include mat.menu-theme(m3-theme.$light-theme);
    @include mat.select-theme(m3-theme.$light-theme);
    @include mat.slide-toggle-theme(m3-theme.$light-theme);
    @include mat.snack-bar-theme(m3-theme.$light-theme);
    @include mat.toolbar-theme(m3-theme.$light-theme);

    a {
        color: mat.get-theme-color(m3-theme.$light-theme, 'primary', 50);

        .gh {
            fill: #24292f;
        }
    }
    
    &.dark-theme {
        background-color: #262626;
        color: white;
        
        @include mat.core-color(m3-theme.$dark-theme);
        @include mat.autocomplete-color(m3-theme.$dark-theme);
        @include mat.badge-color(m3-theme.$dark-theme);
        @include mat.button-color(m3-theme.$dark-theme);
        @include mat.fab-color(m3-theme.$dark-theme);
        @include mat.checkbox-color(m3-theme.$dark-theme);
        @include mat.chips-color(m3-theme.$dark-theme);
        @include mat.bottom-sheet-color(m3-theme.$dark-theme);
        @include mat.form-field-color(m3-theme.$dark-theme);
        @include mat.icon-color(m3-theme.$dark-theme);
        @include mat.menu-color(m3-theme.$dark-theme);
        @include mat.select-color(m3-theme.$dark-theme);
        @include mat.slide-toggle-color(m3-theme.$dark-theme);
        @include mat.snack-bar-color(m3-theme.$dark-theme);
        @include mat.toolbar-color(m3-theme.$dark-theme);
    
        .item, .add-input {
            background: #464646 !important;
            color: white;
        }
        .list-card {
            background: #464646 !important;
        }

        a {
            color: mat.get-theme-color(m3-theme.$dark-theme, 'primary', 50);

            .gh {
                fill: white;
            }
        }
    }
}
