<div class="container">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
      @if (form.get('name')?.hasError('required')) {
        <mat-error>
          Name muss angegeben werden!
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" type="email">
      @if (form.get('email')?.hasError('required')) {
        <mat-error>
          Email muss angegeben werden!
        </mat-error>
      }
      @if (form.get('email')?.hasError('email')) {
        <mat-error>
          Bitte eine gültige Email Adresse angeben!
        </mat-error>
      }
      @if (form.get('email')?.hasError('emailOccupied')) {
        <mat-error>Email ist bereits registriert.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email bestätigen</mat-label>
      <input matInput placeholder="Email bestätigen" formControlName="email_confirmation" type="email">
      @if (form.get('email_confirmation')?.hasError('required')) {
        <mat-error>
          Email muss angegeben werden!
        </mat-error>
      }
      @if (form.get('email_confirmation')?.hasError('email')) {
        <mat-error>
          Bitte eine gültige Email Adresse angeben!
        </mat-error>
      }
    </mat-form-field>

    <app-hcaptcha
      [init]="initCaptcha"
      (verify)="captchaVerify($event)"
      (error)="captchaError()"
      (expired)="captchaError()"
    ></app-hcaptcha>


    @if (form.hasError('notMatching')) {
      <mat-error>
        Email-Adressen stimmen nicht überein!
      </mat-error>
    }
    @if (form.hasError('error')) {
      <mat-error>
        Etwas ist schief gelaufen!
      </mat-error>
    }
    @if (form.get('captcha')?.hasError('captcha')) {
      <mat-error>Cpatcha nicht erfolgreich. Bitte neu laden.</mat-error>
    }

    <button mat-flat-button color="primary" (click)="register()" [disabled]="form.invalid || form.disabled">Register</button>

    <div class="container">
      <button mat-stroked-button type="button" routerLink="/login"><mat-icon>chevron_left</mat-icon>Login</button>
    </div>
  </form>
</div>
