<div>
    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput placeholder="Email" formControlName="email" type="email">
            <mat-error *ngIf="form.get('email')?.hasError('required')">
                Email muss angegeben werden!
            </mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email')">
                Bitte eine gültige Email Adresse angeben!
            </mat-error>
        </mat-form-field>
    
        <button mat-flat-button color="primary" (click)="resetPwd()" [disabled]="form.invalid || form.disabled">Passwort zurücksetzen</button>
        
        <div class="container">
            <button mat-stroked-button routerLink="/login" type="button">Login<mat-icon>chevron_left</mat-icon></button>
        </div>
    </form>
</div>
