mat-drawer {
    padding: 24px;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer-content {
    padding: 10px;
}

mat-toolbar {
    position: absolute;
    bottom: 0;
    height: 64px;

    .toolbar-button {
        padding-top: 10px;
    }
}

.content {
    margin: 24px;
    height: calc(100% - 112px);
    overflow-y: auto;
    overflow-x: hidden;
}