@import '../variables.scss';

mat-toolbar {
    position: fixed;
    bottom: 0;
    height: $nav-bar-height;
    
}

.content {
    position: absolute;
    height: calc(100% - 112px);
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

#refresh {
    position: absolute;
    top: 12px;
    left: calc(50% - 20px);
    width: 32px;
    height: 32px;

    mat-icon {
        width: 32px;
        height: 32px;
        font-size: 32px;
        opacity: 0;
    }
}