<div class="content">
    <router-outlet></router-outlet>
</div>

<mat-toolbar fxLayout="row" fxLayoutAlign="center" *ngIf="authService.loggedUser">
    <button
        mat-button
        routerLink="/user/lists"
        [color]="router.isActive('/user/lists', true) ? 'primary' : undefined">
        <div fxLayout="column" fxLayoutAlign="center center" class="toolbar-button">
            <mat-icon>list</mat-icon>
            <span>Lists</span>
        </div>
    </button>
    <button
        mat-button
        routerLink="/user/settings"
        [color]="router.isActive('/user/settings', true) ? 'primary' : undefined">
        <div fxLayout="column" fxLayoutAlign="center center" class="toolbar-button">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </div>
    </button>
</mat-toolbar>