<div class="container" fxLayout="column" fxLayoutAlign="space-around center">
    <button disabled mat-fab class="user-fab-0" *ngIf="userEmail">{{userEmail.substr(0, 2).toUpperCase()}}</button>
    <div>{{userEmail}}</div>

    <mat-form-field appearance="outline">
        <mat-label>Theme</mat-label>
        <mat-select [formControl]="theme">
            <mat-option value="auto">auto</mat-option>
            <mat-option value="light">hell</mat-option>
            <mat-option value="dark">dunkel</mat-option>
        </mat-select>
    </mat-form-field>
    
    <button mat-stroked-button (click)="logout()">Logout</button>
    <div id="version">v{{version}}</div>
</div>