@for (user of users(); track user.id; let i = $index) {
  <div class="shared-user">
    <div class="user-info">
      <button mat-mini-fab [class]="'badge user-fab-' + (i % 12)" disabled>{{user?.name | nameBadge}}</button>
      <span>{{user.name}}</span>
      <span class="email">{{user.email}}</span>
    </div>
    @if (user.id === lists().createdBy) {
      <span class="admin">Admin</span>
    }
    @if (isAdmin && user.id !== lists().createdBy || user.id === me()?.id) {
      <button mat-icon-button (click)="removeSharedWith(user.id)"><mat-icon>close</mat-icon></button>
    }
  </div>
}

@if (isAdmin) {
  <h3>Hinzufügen</h3>
}

@if (isAdmin) {
  <form [formGroup]="form" autocomplete="off">
    <mat-form-field appearance="outline">
      <input matInput formControlName="email" placeholder="Email" [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto>
      @for (user of filteredUsers(); track user.id; let i = $index) {
        <mat-option [value]="user.email">
          <div class="user-info">
            <span>{{user.name}}</span>
            <span class="email">{{user.email}}</span>
          </div>
        </mat-option>
      }
    </mat-autocomplete>
    <button mat-stroked-button [disabled]="!form.valid" (click)="returnFormContent()">{{'Speichern'}}</button>
    <button mat-flat-button color="primary" (click)="bottomSheetRef.dismiss()">Abbrechen</button>
  </form>
}

@if (!isAdmin) {
  <button mat-flat-button color="primary" (click)="bottomSheetRef.dismiss()">Schließen</button>
}