@import '../../../../variables.scss';

.menu {
    position: absolute;
    top: 24px;
    right: 24px;
}

.users {
    margin-bottom: 12px;
    margin-top: -12px;
}

#items-container {
    height: calc(100% - $nav-bar-height);
    overflow-y: auto;

    div:last-child {
        margin-bottom: $nav-bar-height;
    }
}

.item-done {
    .item-content, mat-chip {
        color: grey;
        text-decoration: line-through;
    }
}

.item {
    background: #EEE;
    border-radius: 8px;
    margin: 6px 0;
    width: 100%;

    button {
        float: right;
        color: grey;
    }
    
    mat-checkbox {
        margin: 8px;
        position: relative;
        width: calc(100% - 20px);

        .item-content {
            white-space: pre-wrap;
            margin-right: 36px;
            margin-bottom: 0 !important;
        }

        button.mini-user-fab {
            margin-left: 6px !important;
            float: none;
        }

        button:not(.mini-user-fab) {
            top: calc(50% - 20px);
            position: absolute;
            right: 0;
        }
    }

    mat-chip-list, mat-chip {
        display: inline-block;
    }
}

mat-toolbar {
    position: absolute;
    right: 0;
    bottom: 56px;
    height: 64px;
    z-index: 10;

    &.toolbar-time {
        display: none;
        padding: 8px;
        height: 40px;
    }

    .add-input {
        border: none;
        border-radius: 8px;
        padding: 8px;
        width: 100%;
        background-color: white;
    }
}

#toggle-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: calc(100% - 128px);
    width: 100%;
}