<div>

  @if (editMode()) {
    <form [formGroup]="editForm">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        @if (editForm.get('name')?.hasError('required')) {
          <mat-error>
            Name muss angegeben werden!
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        @if (disabled()) {
          <mat-hint>Im Offlinemodus nicht änderbar.</mat-hint>
        }
        @if (editForm.get('email')?.hasError('required')) {
          <mat-error>
            Email muss angegeben werden!
          </mat-error>
        }
        @if (editForm.get('email')?.hasError('email')) {
          <mat-error>
            Bitte eine gültige Email Adresse angeben!
          </mat-error>
        }
      </mat-form-field>
    </form>
  }

  @if (editMode()) {
    <button mat-stroked-button
      (click)="saveChanges()"
    [disabled]="!editForm.valid">Speichern</button>
  }
  @if (editMode()) {
    <button mat-flat-button
      color="primary"
      (click)="cancelChanges()"
    >Abbrechen</button>
  }
</div>